<!DOCTYPE html>
<html>
<head>
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form action="/process" method="post" enctype="multipart/form-data">
        <label for="cs_data">Upload ChemSpider CSV:</label>
        <input type="file" name="cs_data" id="cs_data" required><br><br>
        
        <label for="mz_data">Upload MZ Cloud CSV:</label>
        <input type="file" name="mz_data" id="mz_data" required><br><br>

        <label for="ml_data">Upload Masslist CSV:</label>
        <input type="file" name="ml_data" id="ml_data" required><br><br>

        <label for="database">Upload Metabolite Database CSV:</label>
        <input type="file" name="database" id="database" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>